<ion-view title="Game setup">
    <ion-content padding="true" id="body" class="has-header">
      <div><br><br><br><br><br><br><br><br><br>
      </div>
      <a ng-click="gotocreate()" id="tallbutton" style="background-color:rgba(107, 0, 0, 0.62);border-style:none;" class="button button-stable button-block">Create game</a>
      <a ng-click="gotojoin()" id="tallbutton" class="button button-stable button-block">Join game</a>
      <a ng-click="gotorandomjoin()" id="tallbutton" class="button button-stable button-block">Join random game</a>
    </ion-content>
</ion-view>
