<ion-view title="Invite Players">
    <ion-content padding="true" id="body" class="has-header">
        <ion-list style="font-size:2em" id="inviteList">
            <ion-item><p style="width:100%;font-size:1.2em">Jaap <span id="span">0611278656</span></p></ion-item>
            <ion-item><p style="width:100%;font-size:1.2em">Rick <span id="span">0612499504</span></p></ion-item>
            <ion-item><p style="width:100%;font-size:1.2em">Okke <span id="span">0681203746</span></p></ion-item>
            <ion-item><p style="width:100%;font-size:1.2em">Tim <span id="span">0638058594</span></p></ion-item>
            <ion-item><p style="width:100%;font-size:1.2em">Gael <span id="span">0623819271</span></p></ion-item>
            <ion-item ng-click="invite()"><p style="width:100%;font-size:1.2em;color:rgb(179, 179, 179);"> Add player <span id="ionicon"><i class="icon ionicon ion-ios-plus-outline"></i></span></p></ion-item>
        </ion-list>
        <a ng-click="inviteall()" id="button" class="button button-stable button-block ">Invite all</a>
    </ion-content>
</ion-view>
