<ion-view title="Keypad">
    <ion-content padding="true" class="has-header">

        <form class="list" ng-submit="submit()">

            <label class="item item-input">
                <span class="input-label">KEYPAD</span>
                <input type="tel" name="code" placeholder="enter code" ng-model="data.code">
            </label>

            <input class="button button-stable button-block button-large" type="submit" name="submit" value="Submit">

        </form>

    </ion-content>
</ion-view>
